@model List<MyPortfolioWebsite.DAL.Entities.Portfolio>
<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolio</h3>
            <h1> My Latest Projects</h1>

            <p class="lead"> Explore my work by clicking on any project below for a brief description. You can visit the GitHub repository via the link in the top-left corner of each image. You can visit my Github Account for all of my projects.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">
            @foreach (var item in Model.OrderByDescending(x => x.portfolioId).Take(8))
            {
                <div class="masonry__brick">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="@item.imageUrl" class="thumb-link" title="@item.title" data-size="1050x700">
                                <img src="@item.imageUrl"
                                     srcset="@item.imageUrl 1x, @item.imageUrl 2x" alt="">
                                <span class="shadow-overlay"></span>
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                @item.title
                            </h3>
                            <p class="item-folio__cat">
                                @item.subtitle
                            </p>
                        </div>

                        <a href="@item.url" class="item-folio__project-link" title="Project link" target="_blank" onclick="event.stopPropagation();">
                            <i class="im im-link"></i>
                        </a>


                        <div class="item-folio__caption">
                            <p>@item.description</p>
                        </div>

                    </div> 
                </div>
            }
        </div>
    </div> 

</section>