@model List<MyPortfolioWebsite.DAL.Entities.Contact>
<section id="contact" class="s-contact target-section">

    <div class="overlay"></div>
    @foreach (var item in Model)
    {
        <div class="row narrow section-intro">
            <div class="col-full">
                <h3>Contact</h3>
                <h1>@item.title</h1>
                <p class="lead">@item.description</p>
            </div>
        </div>
    }

    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form name="contactForm" id="contactForm" method="post" action="/Contact/SendEmail">
                <fieldset>
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Name" value="@ViewData["ContactName"]" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="@ViewData["ContactEmail"]" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="@ViewData["ContactSubject"]" class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Message" rows="10" cols="50" required="" aria-required="true" class="full-width">@ViewData["ContactMessage"]</textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            @if (ViewData["SuccessMessage"] != null)
            {
                <div class="message-success">
                    @ViewData["SuccessMessage"]
                </div>
            }

            @if (ViewData["ErrorMessage"] != null)
            {
                <div class="message-warning">
                    @ViewData["ErrorMessage"]
                </div>
            }
        </div>

        @foreach (var item in Model)
        {
            <div class="col-four tab-full contact__infos">
                <h4 class="h06">Phone</h4>
                <p>Phone: confidential for security reasons</p>

                <h4 class="h06">Email</h4>
                <p>@item.email</p>

                <h4 class="h06">Address</h4>
                <p>@item.adress</p>
            </div>
        }
    </div>
</section>
